			
			<li>
				<span class="user">
					<%= link_to m.user.username, message_path(m) %>
				</span>-
				<span class="subject">
					<em><%= m.subject %></em>
				</span>
				<span class="time">
					<%= time_ago_in_words(m.created_at) %> ago.
				</span>
				<br \>
				<span class="content">
					<%= truncate(m.content, :length => 12, :omission => "...") %>
				</span>
			</li>
			