<tr>
	<td class="messages">
		<span class="user">
			<%= link_to message_items.user.username, message_items.user %>
		</span>
		<span class="subject">
			<%= message_items.subject %>
		</span>
		<span class="content">
			<%= message_items.content %>
		</span>
	</td>
</tr>