/* Home Page */

html, body{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	
}
.container{
	width:100%;
	height:100%;
	margin:auto;
}
header{
	height:50px;
	background-color:black;
	border-bottom-style:solid;
	border-bottom-color:silver;
	border-bottom-width:2px;
	width:100%;
	margin:auto;
}
.right_nav{
	position:relative;
    top:-40px;
	left:435px;
	width:500px;
	margin:auto;
}
.right_nav ul{
	font-size:15px;
}
.right_nav li{
	display:inline;
	padding:4px;
}
.right_nav a{
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	color:white;
	text-decoration:none;
}
.right_nav a:hover{
	font-weight:bold;
}
.Search{
	position:relative;
	left:200px;
	width:600px;
	z-index:100;
	bottom:3.5em;
}
#search{
	width:300px;
}
.wrapper{
	background-image:url('PaleBackground.gif');
	font-family: Arial, Gadget, sans-serif;
    width:100%;
	overflow:hidden;
}
footer{
	height:25px;
	width:100%;
	background-color:white;
	border-top:dashed;
	border-width:2px;
	border-color:gray;
	background-image:url('PaleBackground.gif');
	margin:auto;
	position:relative;
	top:-30px;
}
footer span{
	position:relative;
	margin-top:10%;
}
#right_footer{
	font-size:13px;
	padding:0 10px;
	line-height:21px;
}
#right_footer a{
	color:black;
	text-decoration:none;
}
#right_footer a:hover{
	text-decoration:underline;
}
.home{
	min-height:600px;
	width:100%;
	position:relative;
	top:1em;
}
.home_field{
	height:400px;
	width:95%;
	margin:auto;
	position:relative;
	top:2em;
	background-color:white;
	border-style:solid;
	border-width:2px;
	border-color:silver;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}
.home_field a:hover{
	text-decoration:underline;
}
.pitch{
	position:relative;
	margin:auto;
	bottom:70px;
	right:11em;
	color:#A9A9A9;
	font-size:30px;
	font-style:500;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#play_button{
	position:relative;
	left:180px;
	bottom:35px;
}
.big_create_button{
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	width: 300px;
	color: #F5F5F5;
	background:-moz-linear-gradient(center top , #50B7D1, #286DA3) repeat scroll 0 0 transparent;
	background:-webkit-gradient(linear, center top , center bottom, from(#50B7D1), to(#286DA3) );
	font-size: 25px;
	font-weight: bold;
	padding: 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	position: relative;
    bottom:50px;
	left:10px;
	text-decoration: none;
	border-style:solid;
	cursor:pointer;
}
#homepage_signin_link{
	position:relative;
	left:950px;
	color:gray;
}
.third_party_source{
	position:relative;
	left:900px;
}
.third_party_source li{
	display:inline;
	list-style:none;
}

/* Sign In or User Creation Panel */

.session{
	height:700px;
	width:100%;
	margin:auto;
	position:relative;
	top:1em;
}

.sign_in_and_information{
	width:850px;
	height:400px;
	background-color:white;
	margin-left:12%;
	border-style:solid;
	border-color:silver;
	border-width:1px;
	box-shadow: 5px 5px 5px #888888;
	-webkit-box-shadow: 5px 5px 5px #888888;
	
}
.sign_in_and_information h2{
	color:gray;
	text-indent:10px;
}
.session_form{
	position:absolute;
	top:10em;
}
.session_fields input{
	height:3em;
	width:340px;
}
#forgot{
	color:blue;
	font-size:12px;
}
#session_new_user{
	position:relative;
	margin:auto;
	top:250px;
	font-size:15px;
}
#session_new_user a {
	color:blue;
	text-decoration:none;
}
.not_signed_in_nav li{
	position:relative;
	list-style:none;
	display:inline;
	left:650px;
}
.not_signed_in_nav a{
	color:gray;
	text-decoration:none;
}
/* Create User Form */

.panel{
	width:850px;
	height:800px;
	background-color:white;
	margin-left:12%;
	border-style:solid;
	border-color:silver;
	border-width:1px;
	box-shadow: 5px 5px 5px #888888;
	-webkit-box-shadow: 5px 5px 5px #888888;
}
.new_user h2{
	color:gray;
	text-indent:10px;
}
.create_buttons{
  	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	width: 150px;
	color: #F5F5F5;
	background:-moz-linear-gradient(center top , #50B7D1, #286DA3) repeat scroll 0 0 transparent;
	background:-webkit-gradient(linear, center top , center bottom, from(#50B7D1), to(#286DA3) );
	font-size: 100%;
	font-weight: bold;
	padding: 10px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	position: absolute;
	margin-left: 25%;
	margin-top:22%;
	text-decoration: none;
	border-style:solid;
	cursor:pointer;
}
#agreement{
	width:350px;
}
#agreement p{
	margin-left:10px;
}
#agreement a{
	color:blue;
	text-decoration:none;
}
#agreement a:hover{
	text-decoration:underline;
	font-style:italic;
}
#slideshow img {
    display: none;
    position: absolute;
	left:500px;
	top:8em;
}

/* Error Handling */

#error_explanation {
	position:absolute;
  	width: 400px;
  	border: 2px solid red;
  	padding: 7px;
  	padding-bottom: 12px;
  	margin-bottom: 20px;
  	background-color: #f0f0f0;
	z-index:10;
}

#error_explanation h2 {
  	text-align: left;
  	font-weight: bold;
  	padding: 5px 5px 5px 15px;
  	font-size: 12px;
  	margin: -7px;
  	background-color: #c00;
  	color: #fff;
}

#error_explanation p {
  	color: #333;
  	margin-bottom: 0;
  	padding: 5px;
}

#error_explanation ul li {
  	font-size: 12px;
  	list-style: square;
}
.field_with_errors {  
  display: inline;  
}  
  
.field_with_errors .message {  
  color: #D00;  
  padding-left: 5px;  
  font-size: 12px;  
}

/* User Signed In Home */

.signed_in_home{
	height:800px;
	width:100%;
	margin:auto;
	
}
.home_bar {
	position:relative;
	height:45px;
	width:100%;
	background:-moz-linear-gradient(center bottom , #D9D9D9, #F0F0F0) repeat scroll 0 0 transparent;
	background:-webkit-gradient(linear, center top , center bottom, from(#D9D9D9), to(#F0F0F0) );
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	border-style:solid;
	border-color:silver;
	border-width:2px;
}
.home_bar h2{
	color:gray;
	text-shadow: 1px 1px 2px #fff; 
	position:relative;
	bottom:10px;
	text-indent:10px;
}
#home_info{
	position:relative;
	left:850px;
	bottom:55px;
}
#home_info li{
	display:inline;
}
#home_info a{
	color:white;
	text-decoration:none;
	font-size:12px;
}
#home_info a:hover{
	text-decoration:underline;
}
.home_edit_buttons{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100px;
	border-color: silver;
	background:-moz-linear-gradient(center top , #50B7D1, #286DA3) repeat scroll 0 0 transparent;
	background:-webkit-gradient(linear, center top , center bottom, from(#50B7D1), to(#286DA3) );
	font-size: 100%;
	font-weight: bold;
	padding: 10px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	text-decoration: none;
	border-style:solid;
	border-width:2px;
}
.user_location{
	position:relative;
	left:250px;
}
.map_side_panel{
	position:relative;
	margin:auto;
	right:23em;
	bottom:415px;
	height:450px;
	width:250px;
	background-color:#F0F0F0;
	border-style:solid;
	border-color:silver;
	border-width:2px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:10px;
	
}
.map_side_panel h2{
	text-align:center;
	color:blue;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.map_side_panel li{
	position:relative;
	right:20px;
	list-style:none;
	padding:10px;
	width:200px;
}
.map_links { 
	border: 1px solid #cccccc; 
	background: #f6f6f6 url('ui-bg_glass_100_f6f6f6_1x400.png') 50% 50% repeat-x; 
	font-weight: bold; 
	color: #1c94c4; 
}
.map_links a, .map_links a:link, .map_links a:visited { 
	color: #1c94c4; 
	text-decoration: none; 
}
.map_links a:hover{
	text-decoration:underline;
}

/* User Show Page */

.user_show{
	height:1200px;
	width:100%;
	margin:auto;
	position:relative;
	top:1em;
}
.user_nav{
	height:1200px;
	width:250px;
	border-style:solid;
	border-width:2px;
	border-color:silver;
	background-color:white;
	position:relative;
	top:-1.5em;
	right:420px;
	margin:auto;
}
.user_bar{
	height:55px;
	width:800px;
	background:-moz-linear-gradient(center bottom , #D9D9D9, #F0F0F0) repeat scroll 0 0 transparent;
	background:-webkit-gradient(linear, center top , center bottom, from(#D9D9D9), to(#F0F0F0) );
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	border-style:solid;
	border-color:silver;
	border-width:2px;
	position:relative;
	bottom:27em;
	left:285px;
	overflow:hidden;
}
#user_bar_nav a{
	color:gray;
	font-weight:200;
	font-size:25px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	text-decoration:none;
	padding:25px;
	position:relative;
	bottom:5px;
	
}
#user_bar_nav a:hover{
	background:-moz-linear-gradient(center top , white, #FFFAFA) repeat scroll 0 0 transparent;
	background:-webkit-gradient(linear, center top , center bottom, from(white), to(#FFFAFA) );
	border-style:solid;
	border-color:silver;
	border-width:1px;
}
#user_bar_nav a:active{
	text-decoration:underline;
}
.top{
	display:inline;
	height:30px;
	padding:15px;
	padding-bottom:10px;
	
}
.the_user_panel{
	height:900px;
	width:780px;
	background-color:white;
	position:relative;
	left:290px;
	bottom:71em;
	border-style:solid;
	border-color:silver;
	border-width:2px;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
.usershow{
	position:relative;
	bottom:23em;
	right:20px;
	display:block;
	width:750px;
	height:100px;
	margin:auto;
	border-style:inset;
	border-color:#8B4513;
	border-width:2px;
	-webkit-box-shadow: 1px 10px 6px gray;
	-moz-box-shadow: 1px 10px 6px gray;
	box-shadow: 1px 10px 6px gray;
}
.usershow_stats{
	height:400px;
	width:700px;
	position:relative;
	top:130px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color:white;
	border-style:solid;
	border-color:#D2B48C;
	border-width:4px;
	-webkit-box-shadow: 1px 10px 6px gray;
	-moz-box-shadow: 1px 10px 6px gray;
	box-shadow: 1px 10px 6px gray;
}
.usershow_stats h2{
	font-style:bold;
}
.usershow_stats ul {
	position:relative;
	left:-35px;
}
.usershow_stats li {
	list-style:none;
	padding:5px;
	font-size:22px;
	color:gray;
}
div.scrollableArea *{
	position:relative;
	display:block;
	float:left;
}
.edit_profile_button{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100px;
	border-color: silver;
	background:-moz-linear-gradient(center top , #50B7D1, #286DA3) repeat scroll 0 0 transparent;
	background:-webkit-gradient(linear, center top , center bottom, from(#50B7D1), to(#286DA3) );
	font-size: 50%;
	font-weight: bold;
	padding: 10px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	left:425px;
	top:5px;
	border-style:solid;
	border-width:2px;
}
.edit{
	position:relative;
	margin:auto;
	right:420px;
	bottom:1em;
}
.edit a{
	color:white;
	text-decoration:none;
}
.edit a:hover{
	text-decoration:underline;
}
.usershow_status{
	position:relative;
	width:650px;
	height:800px;
	background-color:white;
	border-style:solid;
	border-width:2px;
	border-color:silver;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.status_panel{
	position:relative;
	width:650px;
	height:175px;
	background-color:#F0F0F0;
	border-bottom-style:solid;
	border-bottom-color:silver;
	border-bottom-width:2px;
	bottom:1em;
}
.status_panel h3{
	color:gray;
	text-shadow: 1px 1px 2px #fff; 
	position:relative;
	text-indent:10px;
}
.status_panel textarea{
	position:relative;
	left:10px;
	height:2em;
	width:450px;
}
.status_submit{
	position:relative;
	left:22em;
}
.personal_feed{
	position:relative;
	right:40px;
}
.personal_feed li{
	list-style:none;
	border-bottom-style:solid;
	border-bottom-color:silver;
	border-bottom-width:2px;
	height:100%;
}
.personal_feed a{
	color:blue;
	text-decoration:none;
}
.personal_feed a:hover{
	text-decoration:underline;
}
.personal_feed span.timestamp{
	font-size:14px;
}
#status_count_show{
	position:relative;
	left:30em;
	bottom:8em;
}
#status_count_show a{
	color:blue;
}
.running_count{
	position:relative;
	font-weight:bold;
	margin:auto;
	left:275px;
	bottom:28px;
}

/* For the User Side Nav Bar */

.profile_pic{
	position:relative;
	top:5px;
	margin:auto;
	border-style:solid;
	border-width:1px;
	border-color:silver;
}
.edit_profile_pic{
	position:relative;
	left:220px;
	top:-10px;
	font-size:12px;
	z-index:10;
	display:none;
}
.edit_profile_pic a{
	z-index:100;
	color:black;
	text-decoration:underline;
}
.user_stats{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight:bold;
	position:relative;
	left:15px;
	top:1em;
}
.user_stats a{
	text-decoration:none;
	color:#4169E1;
}
.user_stats a:hover{
	font-style:italic;
}
.quick_links li{
	list-style:none;
	padding-top:20px;
	padding-bottom:20px;
	position:relative;
	right:25px;
	border-bottom-style:solid;
	border-bottom-width:2px;
	border-bottom-color:silver;
}
.quick_links a{
	color:#4169E1;
	text-decoration:none;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* Portfolio */

.portfolio{
	height:900px;
	width:780px;
	background-color:white;
	position:relative;
	left:290px;
	bottom:26em;
	border-style:solid;
	border-color:silver;
	border-width:2px;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
.portfolio_albums li{
	display:inline;
	list-style:none;
}
.album_buttons{
	position:relative;
	left:550px;
	top:15px;
}
.album_buttons li{
	display:inline;
}
.album_buttons a{
	color:white;
	font-size:12px;
}
.album_buttons a:hover{
	text-decoration:underline;
}
#line_one{
	position:relative;
	bottom:2em;
	right:550px;
}
#album_title{
	position:relative;
	right:500px;
	bottom:2em;
	font-weight:800;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:400px;
}

/* For Pop on Album Page */

.backgroundPopup{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000000;
	border:1px solid #cecece;
	z-index:1;
}
.popupPicture{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:400px;
	width:500px;
	background-color:white;
	border:2px solid #cecece;
	z-index:2;
	padding:12px;
	font-size:13px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}
.popupPicture h2{
	text-align:center;
	color:#6fa5fd;
	font-size:22px;
	font-weight:700;
	border-bottom:2px dotted #D3D3D3;
	padding-bottom:2px;
	margin-bottom:20px;
}
.popupContactClose{
	font-size:18px;
	line-height:14px;
	right:6px;
	top:4px;
	position:absolute;
	color:#6fa5fd;
	font-weight:700;
	display:block;
	cursor: pointer;
}
#new_album{
	position:absolute;
	left:30px;
}
#blurt_button{
	position:absolute;
	text-align:center;
	margin:100px;
	margin-top:0%;
	margin-left:.5%;
}
#blurt_button{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100px;
	border-color: silver;
	background:-moz-linear-gradient(center top , #50B7D1, #286DA3) repeat scroll 0 0 transparent;
	background:-webkit-gradient(linear, center top , center bottom, from(#50B7D1), to(#286DA3) );
	font-size: 77%;
	font-weight: bold;
	padding: 10px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	text-decoration:none;
	position: relative;
	border-style:solid;
	border-width:2px;
}

/* Cropping Page */

.crop_page{
	height:800px;
	width:100%;
	margin:auto;
	position:relative;
	top:1em;
}
.crop_page h4{
	position:relative;
	left:650px;
	bottom:23em;
}
.crop_page p{
	position:relative;
	left:650px;
	bottom:20em;
}
.crop_panel{
	height:500px;
	width:800px;
	margin:auto;
	position:relative;
	background-color:white;
	border-style:solid;
	border-color:silver;
	border-width:2px;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
.crop_panel h2{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-decoration:underline;
}
.preview_crop{
	width:100px; 
	height:100px; 
	overflow:hidden;
	position:relative;
	left:650px;
	bottom:22em;
}

/* User Edit Profile Page */

.edit_user_profile{
	width:850px;
	height:400px;
	background-color:white;
	margin-left:12%;
	border-style:solid;
	border-color:silver;
	border-width:1px;
	box-shadow: 5px 5px 5px #888888;
	-webkit-box-shadow: 5px 5px 5px #888888;
}

/* Storage Show */

.storage_show{
	height:800px;
	width:100%;
	margin:auto;
	position:relative;
	background-color:white;
}
.storage_main{
	width:100%;
	height:650px;
	background-color:white;
	border-radius: 15px;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;	
	border-style:solid;
	border-color:silver;
	border-width:1px;
}
#storage_pitch{
	position:relative;
	top:20px;
	left:20px;
	width:420px;
	text-indent:10px;
}
#storage_pitch h2{
	color:blue;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#storage_pitch p{
	color:gray;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#storage_lvl{
	width:300px;
	position:relative;
	left:680px;
	bottom:200px;
}
#usage_in_words{
	position:relative;
	left:790px;
	bottom:200px;
}
.update_storage_lvl{
	position:relative;
	left:330px;
	bottom:200px;
}
.update_storage_lvl a{
	color:white;
	border-color:white;
}
.update_storage_lvl a:hover{
	text-decoration:underline;
}

/* User Storage Plan Page */

.storeplan_main{
	width:100%;
	height:800px;
}
.storeplan_stub{
	position:relative;
	top:20px;
	left:50px;
	width:1000px;
	height:400px;
	background:-moz-linear-gradient(center top , white, #F4F2D2) repeat scroll 0 0 transparent;
	background:-webkit-gradient(linear, center top , center bottom, from(white), to(#F4F2D2) );
	border-style:solid;
	border-width:2px;
	border-color: #B6B69E #E0DFCB #F4F2D2 #B6B69E;
	border-radius: 10px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.free_storeplan_stub{
	position:relative;
	top:40px;
	left:50px;
	width:1000px;
	height:75px;
	background-color:white;
	border-radius: 10px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.free_storeplan_stub li{
	position:relative;
	list-style:none;
	display:inline;
	padding:10px;
	left:150px;
	
}
#free_account_button{
	position:relative;
	left:800px;
	bottom:50px;
}
.bubble_one{
	position:relative;
	left:100px;
	width:250px;
	height:250px;
}
.bubble_two{
	position:relative;
	left:400px;
	bottom:255px;
	width:250px;
	height:250px;
}
.bubble_three{
	position:relative;
	left:700px;
	bottom:510px;
	width:250px;
	height:250px;
}
.bubble_one, .bubble_two, .bubble_three{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	border-style:solid;
	border-color:silver;
	border-width:2px;
	background: -moz-linear-gradient(center top , #EAF5FA, #C5E8F1) repeat scroll 0 0 transparent;
	background:-webkit-gradient(linear, center top , center bottom, from(#EAF5FA), to(#C5E8F1) );
	border-radius: 10px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.bubble_one h2, .bubble_two h2, .bubble_three h2{
	font-weight:1200;
	color:#303030;
	border-bottom-style:solid;
	border-bottom-color:gray;
}
.bubble_one p, .bubble_two p, .bubble_three p{
	font-weight:600;
	color:#303030;
	text-align:center;
	border-style:solid;
	border-width:.5px;
	border-color:silver;
	background-color:white;
	border-radius: 10px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
#paid_upgrade{
	position:relative;
	left:70px;
}

/* Account creation and update page */

.tip {
    color: #fff;
    background:#1d1d1d;
    display:none; /*--Hides by default--*/
    padding:10px;
    position:absolute;    z-index:1000;
	width:250px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.tip_trigger{
	text-decoration:none;
	font-size:12px;
}
.cvv input{
	height:3em;
	width:100px;
}

