<div class="message_pic">
	<% if current_user.profiles.blank?%>
		<%= link_to	default_thumb, user_path(current_user) %>
	<% else %>
		<% @profile.each do |profile| %>
		<%= link_to (image_tag profile.avatar.url(:thumb)), user_path(current_user)  %>
		<% end %>
	<% end %>
</div>
<div class="user_message_belongs_to">
	<%= link_to "#{current_user.username}", user_path(current_user) %><br \>
	<%= link_to "Messages Home", messages_path(current_user) %>
</div>