<ul>
	<li class="quick_links_li"><%= link_to "Photos", portfolio_path(@user) %></li>
	<li class="quick_links_li"><%= link_to "Top Searches", '#' %></li>
	<li class="quick_links_li"><%= link_to "Find People", users_path(@user) %></li>
	<li class="quick_links_li"><%= link_to "Chat", '#' %></li>
</ul>