<div class="home">
	<div class="home_field">
	    <h2 class="pitch"><center>[<em>Your web, simplified</em>]</center></h2>
		<%= link_to home_photo, '#' %>
		<p id="click_it">Click above to learn more<br \></p>
		
		<%= link_to "Create Account!", new_user_path, :class => "big_create_button" %> 
	</div>
	<div class="bubble_one">
		<h2><%= link_to "Posts", '#' %></h2>
		<p>Join the community and post links, ask and answer questions, or just simply talk. Its all up to you.</p>
	</div>
	<div class="bubble_two">
		<h2><%= link_to "Personalize", '#' %></h2>
		<p>The Web should adjust to you. Sign up or log in and watch as your profile grows to reflect what you like.</p>
	</div>
</div>