<div class="home">
	<div class="home_field">
		<%= link_to "[Sign In]", signin_path, :id => "homepage_signin_link"%>
		<div class="third_party_source">
			<ul>
				<li><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="" send="false" layout="button_count" width="500" show_faces="true" font=""></fb:like></li>
				<li><g:plusone annotation="none"></g:plusone></li>
			 </ul>
		</div>
	    <h2 class="pitch"><center>[<em>Your web, simplified</em>]</center></h2>
		<%= link_to home_photo, '#', :id => "play_button"%>
		
		<%= link_to "Create Account!", new_user_path, :class => "big_create_button" %> 
		
		<script>
		$.fx.speeds._default = 1000;
		$(function() {
			$( "#dialog" ).dialog({
				autoOpen: false
			});

			$( "#play_button" ).click(function() {
				$( "#dialog" ).dialog( "open" );
				return false;
			});
		});
		</script>
		<div id="dialog" title="Welcome!">
			<p>Hello World!</p>
		</div>
	
</div>