	<div id="user_bar_nav">
		<ul>
			<li class="top"><%= link_to "Welcome", welcome_path %></li>
			<li class="top"><%= link_to "Chains", '#' %></li>	
			<li class="top"><%= link_to "Settings", '#' %></li>
			<li class="top"><%= link_to "Account", edit_user_path(current_user) %></li>
		</ul>
	</div>