<div class="home">
	<div class="goodby_field">
		<div class="home_page_signin">
		<%= render 'shared/signin_panel_shared'%>
		</div>
		<%= image_tag "iphone_4.jpg", :size => "350x500", :id => "smart_phone_pic" %>
		<div class="iphone_app">
		<h1>
			Gotta Go?<br \>
			Take Sosal with you<br \> 
			with our iPhone App
		</h1>
		</div>
	
	
</div>